PORT=3005
DB_HOST=192.168.2.244
DB_PORT=1433
DB_NAME=minuto_a_minuto
DB_USER=sa
DB_PASS=Sky2022*!
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true
DB_CONNECT_TIMEOUT=30000
DB_REQUEST_TIMEOUT=30000
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_FALLBACK_MODEL=gemini-2.5-flash-lite
